<article>
	<header>
		<h1><%= @user.name%></h1>
		<h5><%= @user.email%></h5>
	</header>
</article>
<%= link_to  "Edit Account", edit_user_path(@user) %> | 
<%= link_to  "Delete Account", user_path(@user), method: :delete, data: {confirm: "Are you sure?"} %>